* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;

  --bg-card-color: #e1e1e6;
  --bg-card-color-transition: #02799d;

  --bg-body-color: #e5e5e5;
  --tt-collor: #323238;
}

body {
  background-color: var(--bg-main-color);
}

main {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;
}

.timer {
  width: 37.6rem;
  height: 21.3rem;
}

span {
  font-family: "Roboto", sans-serif;
  font-size: 12.7rem;
  font-weight: 500;
}

.buttons {
  display: flex;
  gap: 4rem;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

.cards {
  height: 33.6rem;
  width: 30.8rem;
  display: grid;
  gap: 3.2rem;
  grid-template-columns: 1fr 1fr;
}
.cards button {
  background-color: var(--bg-card-color);
  gap: 3.2rem;
  width: 13.8rem;
  height: 15.2rem;
  border-radius: 2.4rem;
  transition: background-color 0.3s ease;
}

.cards button:hover {
  background-color: var(--bg-card-color-transition);
}

.cards .press {
  background-color: var(--bg-card-color-transition);
}

.press svg path {
  fill: var(--bg-card-color);
}
